$color-red: #580702;
$color-pink: #ffa9ab;
$color-orange: #ff6e29;
$color-grey: #9d7f7d;
$color-light: #ffffff;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 600;
$fw-bold: 700;



body {
  background-color: $color-light;
}
